/* Global styles */

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header styles */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

nav ul li {
  margin: 0 10px;
  
}

nav ul li a {
  padding: 10px;
  
}

/* Hero section styles */

#hero {
  background-color: #383333;
  padding: 50px;
}

#hero h1 {
  font-size: 36px;
  margin: 0 0 20px;
  color: #e7dbdb;
}

#hero p {
  font-size: 18px;
  margin: 0 0 40px;
  color: #fff;
}

.btn {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 .btn::before {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 .btn:hover::before {
  width: 105%;
 }
 
 .btn:hover {
  color: #111;
 }
 
/* Features section styles */

#features {
  text-align: center;
  color: antiquewhite;
  padding: 50px;
  background-image:url("../images/back.jpg") ;
  background-size: cover;
}

#features h2 {
  font-size: 36px;
  margin: 0 0 40px;
}

.feature {
  margin: 0 20px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  width: 30%;
}

.feature img {
  width: 100%;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 24px;
  margin: 0 0 10px;
}

.feature p {
  font-size: 18px;
  margin: 0;
}

/* Footer styles */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
  font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
  box-sizing: border-box;
}

:root {
--img-size: 200px;
--gap: 20px;
}

.cards {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 70px;
}

.card, .card2 {
position: relative;
height: var(--img-size);
}

.card .content, .card .photo,
.card2 .content, .card2 .photo{
position: absolute;
transition: all 0.5s;
}

.card div {
left: calc(var(--img-size) + var(--gap));
opacity: 0;
}
.card2 div {
right: calc(var(--img-size) + var(--gap));
opacity: 0;
}

.card .photo{
top: 50%;
left: 50%;
width: var(--img-size);
height: var(--img-size);
transform: translate(-50%, -50%);
border-radius: 100%;
object-fit: cover;
}
.card2 .photo{
top: 50%;
left: 50%;
width: var(--img-size);
height: var(--img-size);
transform: translate(-50%, -50%);
border-radius: 100%;
object-fit: cover;
}
.card:hover .content,
.card2:hover .content {
opacity: 1;
}

.card:hover .photo {
left: 0;
transform: translate(0%, -50%);
}
.card2:hover .photo {
left: calc(100% - var(--img-size));
transform: translate(0%, -50%);
}
